* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

header,
footer {
  background-color: #f55a5a;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.destination-block {
  display: flex;
}

.destination-block > div:first-child {
  width: 400px;
}

.destination-block > div:first-child img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
